{% extends "layout/base.html" %}

{% block title %} To-do App {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<main>
<hr>
<a href="{{url_for('newtask')}}"><button type="button" id="new" class="btn"><b>Add New</b></button></a>

<table id="tasks-table" >
<tr>
<th>ID</th>
<th>Task Name</th>
<th>Description</th>
<th>Deadline</th>
<th>Status</th>
<th>Edit</th>
<th>Delete</th>
</tr>
  {% for tas in task %}
    <tr>
      <td>{{tas.id}}</td>
      <td>{{tas.name}}</td>
      <td>{{tas.description}}</td>
      <td>{{tas.deadline}}</td>
      <td>{{tas.status}}</td>
      <td><a href="{{url_for('edittask',task_id=tas.id)}}" id="delete"><i class="fas fa-pen"></i></a></td>
      <td><a href="{{url_for('deletetask',task_id=tas.id)}}" id="delete"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
  {% endfor %}   
</table>
<script>
	    $.ajax({
	    	type:"GET",
	    	url : "/",
	    	success: function(response){
	    		response = JSON.parse(response);
	    		console.log(response);
				console.log("data"+" "+response.data)
    			if(response.message == "success"){

    				if(response.data.length >0){
    					 var taskData = response.data;

    					 for (i=0;i<taskData.length;i++){
    					 	console.log(taskData[i])
							 $("#gallery").eq(1).append(`<div class="col-md-3">
		    														<div class="thumbnail">
		    															<img src="${taskData[i]}" class="img img-responsive galleryitem" height="200" width="200">
		    														</div>
		    													</div>`
															);
    					 }
    				}
    			}
	    	},
	    	error: function(xhr,textStatus){

	    	},
	    	complete: function(){

	    	}
	    });
	}); 
</script>

{% endblock content %}